@use '@angular/material' as mat;

$light-theme: (
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
);

$dark-theme: (
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
);

html,
html.theme-light {
  @include mat.theme($light-theme);
  color-scheme: light;
}

html.theme-dark {
  @include mat.theme($dark-theme);
  color-scheme: dark;
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
